@import url('https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg,
  i {
    color: currentColor;
  }
}

/* -- Default Light Mode -- */
:root {
  /* Use a very light background with dark text for accessibility */
  --background: #f5f5f5;
  --foreground: #212121;
  /* Optionally add any accent colors if needed */
}

/* -- Dark Mode Preference -- */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #dce4ef;
  }
}

/* Apply global colors and fonts */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Container to center content */
.container {
  @apply mx-auto px-4 py-2 flex-1;
}

/* Main page content styling */
.page-content {
  @apply mt-20 flex-grow overflow-auto mx-auto flex-1;
}

/* Footer container styling */
.footer-container {
  @apply mx-auto py-4 flex flex-col md:flex-row items-center justify-between;
}

/* Simple reusable button styling */
.button {
  @apply uppercase flex pointer-events-auto items-center gap-1 px-2 py-1 text-xs rounded border border-[var(--foreground)] bg-transparent text-[var(--foreground)] hover:bg-[var(--foreground)] hover:text-[var(--background)] transition;
}

/* Filter bar styling */
.filter-bar {
  @apply pb-4 text-sm flex items-center flex-wrap gap-2;
}

.glow-box {
  @apply border rounded-md flex-1 p-4;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  .glow-box {
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  }
}

.glow-button {
  @apply block mx-auto flex pointer-events-auto items-center gap-1 px-4 py-2 rounded transition;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  .glow-button {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.glow-button:hover {
  background: var(--foreground);
  color: var(--background);
}

/* Input styling */
.input {
  @apply w-full p-2 border-b border-[var(--foreground)] bg-[var(--background)] text-[var(--foreground)];
}

/* Pending Approval Overlay */
.overlay {
  @apply absolute inset-0 z-10;
  @apply flex items-center justify-center;
  @apply bg-black bg-opacity-10 text-lg font-bold;
}

/* If you only want a special override for the event page: */
.event-page-fullwidth {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
